
    <!-- four-grids -->

    <div class="row four-grids modal-body " id="manager" >
        
        <div class="col-md-4 ticket-grid">
            <div class="tickets">
                <div class="grid-left">

                    <div class="book-icon"  ng-click="vm.firstVisit();$close()">
                        <i class="fa fa-book"></i>
                    </div>
                </div>
                <div class="grid-right">
                    <h3>First <span>Visit</span></h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 ticket-grid"></div>
            <div class="col-md-4 ticket-grid">
                <div class="tickets">
                    <div class="grid-left">
                        <div class="book-icon" ng-click="vm.subsequenteVisit();$close()">
                            <i class="fa fa-user"></i>

                        </div>
                    </div>
                    <div class="grid-right">
                        <h3>Subsequent <span>Visit</span></h3>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>


        </div>
   
    <!-- //four-grids -->
    <!--row-->
