
<div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
    <h4 class="modal-title" id="myModalLabel">Enter Lymphocytes Subsets Lab Exam Results</h4>
</div>
<div class="modal-body">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <div class="form-body" ng-controller="LabExamsController" ng-init="initLymphocytesSubsets()">
        <form class="form-horizontal">

            <div class="form-group">
                <label for="focusedinput4" class="col-md-2 control-label">CD3</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="focusedinput4" ng-model="LabExams.CD3" />
                </div>
                <div class="col-sm-3">
                    <p class="help-block">Min: {{ValuesMin[0]}} - Max: {{ValuesMax[0]}}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="focusedinput5" class="col-md-2 control-label">CD4</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="focusedinput5" ng-model="LabExams.CD4" />
                </div>
                <div class="col-sm-3">
                    <p class="help-block">Min: {{ValuesMin[1]}} - Max: {{ValuesMax[1]}}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="focusedinput6" class="col-md-2 control-label">CD8</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="focusedinput6" ng-model="LabExams.CD8" />
                </div>
                <div class="col-sm-3">
                    <p class="help-block">Min: {{ValuesMin[2]}} - Max: {{ValuesMax[2]}}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="focusedinput7" class="col-md-2 control-label">T Lymphocytes</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="focusedinput7" ng-model="LabExams.T_lymphocytes" />
                </div>
                <div class="col-sm-3">
                    <p class="help-block">Min: {{ValuesMin[3]}} - Max: {{ValuesMax[3]}}</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="SaveLymphocytes(); $close()">Submit</button>
            </div>
        </form>
    </div>
</div>
