
<div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
    <h4 class="modal-title" id="myModalLabel">Enter Viral Load Lab Exam Results</h4>
</div>
<div class="modal-body">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <div class="form-body" ng-controller="LabExamsController" ng-init="initViralLoad()">
        <form class="form-horizontal">

            <div class="form-group">
                <label for="focusedinput5" class="col-md-2 control-label">Value</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="focusedinput5" ng-model="LabExams.value" />
                </div>
                <div class="col-sm-3">
                    <p class="help-block">Min: {{ValuesMin[0]}} - Max: {{ValuesMax[0]}}</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="SaveViralLoad(); $close()">Submit</button>
            </div>
        </form>
    </div>
</div>
