<div class="panel panel-widget forms-panel" ng-controller="observationController as vm">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <div class="forms">
        <div class="form-grids form-grids-right">
            <div class="widget-shadow " data-example-id="basic-forms">
                <div class="form-title">
                    <h4>Observations Form</h4>
                </div>
                <div class="form-body">
                    <form class="form-horizontal" name="medForm">
                        <div class="form-group">
                            <label for="subject" class="col-sm-2 control-label">subject</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="obsData" placeholder="subject" required ng-model="vm.subject" />
                            </div>

                            <label for="Observations" class="col-sm-2 control-label">Report</label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control" placeholder="Observations" required ng-model="vm.observationBody"></textarea>
                            </div>

                            <br /><br />
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <input type="checkbox" id="classified" ng-model="vm.classified" />
                                    <p class="help-block">Classified</p>
                                </div>
                                <div class=" pull-left">
                                    <button type="button" class="btn btn-primary" ng-disabled="medForm.$invalid" ng-click="vm.saveToBD();$close()">submit</button>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>