<div class="row">
    <div class="col-md-1"></div>
    <div class="panel panel-widget col-md-10">
        <div class="col-md-12" ng-controller="AdminController" ng-init="InitUsers()">
            <div class="progressbar-heading grids-heading">
                <h2>Users</h2>
            </div>
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>User Type</th>
                            <th>User Identification</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Users in allUsers">
                            <td> {{Users.Name}}</td>
                            <td> {{Users.UserType}}</td>
                            <td> {{Users.User_identification}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>