<div class="row">
    <div class="col-md-1"></div>
    <div class="panel panel-widget col-md-10">
        <div class="progressbar-heading grids-heading">
            <h2>My MCDTs History</h2>
        </div>
        <div class="col-md-12" ng-controller="PatientTemplateMcdtsHistory" ng-init="Init()">
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>MCDT Type</th>
                                <th></th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="McdtViewModel in listMcdts">
                                <td></td>
                                <td> {{McdtViewModel.Discriminator}}</td>
                                <td></td>
                                <td> {{McdtViewModel.McdtDate | jsonDate :'dd-MM-yyyy' }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>