
<div class="col-md-1"></div>
<div class="panel panel-widget col-md-10">
    <ul class="nofitications-dropdown pull-right" style="margin-top:-4%;margin-right:-3%;">

        <li class="dropdown head-dpdn">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-question-circle-o"></i></a>
            <ul class="dropdown-menu anti-dropdown-menu">
                <li>
                    <div class="notification_header">
                        <h3>Prescribe Medication History</h3>
                    </div>
                </li>
                <li>
                    <div class="modal-body" ng-controller="HelpController">
                        <span class="task-desc">{{helpPrescribeMedicationHistory}}</span>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="progressbar-heading grids-heading">
        <h2>Medication History</h2>
    </div>
    <div ng-controller="MedicationHistoryController">
        <div class="panel-widget">
            <span class="glyphicon glyphicon-filter"></span>

            <select ng-model="sortColumn" class="dropDownOptions">
                <option value="StartDate" selected="selected">StartDate</option>
                <option value="EndDate">EndDate</option>
                <option value="Drugcategory">Drug Category</option>
                <option value="DrugName">Drug Name</option>
            </select><span></span>
            <input type="number" step="2" min="0" max="20" ng-model="rowLimit" placeholder="rows" style="width:140px" />
        </div>
        <div style="overflow:auto; height: 440px;">
            <table class="table table-hover form-control-wrapper">
                <caption>Prescribed Medications Pool</caption>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Drug Name</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="medHistory in medicationHistory | limitTo:rowLimit | orderBy:sortColumn">
                        <td style="width:2%">{{$index + 1}}</td>
                        <td>
                            {{medHistory.StartDate | jsonDate :'dd-M-yyyy H:mm' }}
                        </td>
                        <td>
                            {{medHistory.EndDate | jsonDate :'dd-M-yyyy H:mm' }}
                        </td>
                        <td>
                            {{medHistory.DrugName}}
                        </td>
                        <td>
                            {{medHistory.Drugcategory}}
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

    </div>

</div>